:root {
  --base-font-size: 16px;
  --link-color: #0A75BD;
  --navbar-root-color: #0A75BD;
  --navbar-root-color--active: #0A75BD;
  --navbar-root-color--hover: #0A75BD;
  --sidebar-name-color: #0A75BD;
  --sidebar-nav-link-color--active: #4D4D4D;
  --sidebar-nav-link-font-weight--active: bold;
  --pagination-title-color: #0B87DA;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
}

.responsive-wrap iframe {
  max-width: 100%;
}

.markdown-section .button {
  cursor: pointer;
  color: white;
  height: 38px;
  padding: 8px;
  background-color: #0A75BD;
  text-decoration: none;
  border-radius: .25rem;
}

.markdown-section a.button {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.markdown-section .banner-image {
  width: 100%;
  /* width of container */
  height: 200px;
  /* height of container */
  object-fit: cover;
  object-position: 50% 50%;
}

.pagination-item, .pagination-item-title {
  opacity: .9 !important;
}

.pagination-item:not(:last-child) a .pagination-item-label, .pagination-item:not(:last-child) a .pagination-item-subtitle, .pagination-item:not(:last-child) a .pagination-item-title {
  opacity: .9 !important;
  transition: all .2s;
}

blockquote h2 {
  padding-bottom: 4em;
   !important;
}

blockquote ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

blockquote ul li {
  padding-left: 1em;
  text-indent: -1em;
}

blockquote ul li:before {
  content: '\2713';
  padding-right: 5px;
}

.reminders {
  overflow: visible;
  margin: 2em 0;
  padding: 1.5em;
  border-width: var(--blockquote-border-width, 0);
  border-style: var(--blockquote-border-style);
  border-color: var(--blockquote-border-color);
  border-radius: var(--blockquote-border-radius);
  background: var(--blockquote-background);
  color: var(--blockquote-color);
  font-family: var(--blockquote-font-family);
  font-size: var(--blockquote-font-size);
  font-style: var(--blockquote-font-style);
  font-weight: var(--blockquote-font-weight);
  quotes: "“""”""‘""’";
}

.reminders h2 {
  border-style: none;
  margin: 0;
  padding: 0;
}

.reminders h3 {
  margin: 0;
  padding: 0;
}

.reminders ul {
  list-style: none;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: .5em;
  padding-bottom: 0;
}

.reminders ul li {
  padding-left: 0em;
  text-indent: -1em;
}

.reminders ul li:before {
  content: '\2713';
  padding-right: 5px;
}
